.banner {
  height: 775px;
  background-image: url("../../images/sunset-fix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(100% + 20em) center;
}

.slogan {
  top: 45%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  width: 100%;
  text-align: center;
}

.white {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .banner {
    background-position: calc(100% + 10em) center;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    background-position: right center;
  }

    .slogan {
      left: 10%;
      top: 45%;
      transform: translate(0%, -45%);
      -webkit-transform: translate(0%, -45%);
      text-align: left;
      font-size: 1.5745rem;
      line-height: 2.275rem;
    }

}
