.btn {
  background-color: var(--color-primary);
  border-color: transparent;

  color: #fff;

  font-size: 1.067rem;
  line-height: 1.625rem;

  transition: background-color 500ms ease;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  border-color: transparent;

  color: #fff;
}

.btn-light {
  background-color: rgba(20, 95, 145, .5);

  border-color: transparent;

  color: #fff;

  font-size: 1.067rem;
  line-height: 1.625rem;

  transition: background-color 500ms ease;
}

.btn-light:hover {
  background-color: rgba(20, 95, 145, .75);
  border-color: transparent;

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);

  font-size: 1.4757rem;
  line-height: 1.95rem;

  transition: background-color 500ms ease;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-small {
  font-size: .9372rem;
  line-height: 1.3rem;
}

.button {
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
  -webkit-transform: translate(-50%, -55%);
}

.btn-white {
  padding: 0 .3em;
  background-color: #fff;
  border-radius: 0;
  border-color: grey;
  border-width: 2px;

  color: var(--color-primary-dark);

  font-size: .75rem;
  line-height: 1.7rem;

  transition: background-color 500ms ease;
}

.btn-white:hover {
  background-color: var(--color-primary-dark);
  border-color: transparent;

  color: #fff;
}

@media only screen and (min-width: 60em) {

  .button {
    left: 10%;
    top: 60%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
  }

}
