:root {
  --color-primary: #0071bc;
  --color-primary-light: #29abe2;
  --color-primary-dark: #2e3192;
  --color-accent: #000001;
  --color-neutral: #f3f3f3;

  --font-primary: "Roboto", helvetica, sans-serif;
  --font-secondary: "Droid Sans", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}
