:root {
  --color-primary: #0071bc;
  --color-primary-light: #29abe2;
  --color-primary-dark: #2e3192;
  --color-accent: #000001;
  --color-accent-light: #4c4c4c;
  --color-neutral: #f3f3f3;

  --font-primary: "Roboto", helvetica, sans-serif;
  --font-secondary: "Droid Sans", arial, sans-serif;
}

html {
  font-family: var(--font-secondary);
  font-weight: 400;
}

h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-primary);
}

h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-accent);
}

h5, h6 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-accent-light);
}

ul, ol, dl {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
  list-style-type: circle;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-neutral);
  text-decoration: none;
}

cite {
  font-style: italic;
  font-weight: 400;
  color: var(--color-accent);
}
