:root {
  --color-primary: #0071bc;
  --color-primary-light: #29abe2;
  --color-primary-dark: #2e3192;
  --color-accent: #000001;
  --color-accent-light: #4c4c4c;
  --color-neutral: #f3f3f3;

  --font-primary: "Droid Sans", helvetica, sans-serif;
  --font-secondary: "Roboto", arial, sans-serif;
  --regular: 400;
  --bold: 700;
}

html {
  font-family: var(--font-secondary);
  font-weight: var(--regular);
}

h1 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  color: var(--color-primary);
}

h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  color: var(--color-accent);
}

h5, h6 {
  font-family: var(--font-primary);
  font-weight: var(--bold);
  color: var(--color-accent-light);
}

ul, ol, dl, dt, dd {
  font-family: var(--font-secondary);
  color: var(--color-accent);
  list-style-type: none;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
  text-decoration: none;
}

cite {
  font-style: italic;
  font-weight: var(--regular);
  color: var(--color-accent);
}

em, strong {
  font-weight: var(--bold);
  color: var(--color-primary-dark);
}
