html {
  background-color: #fafafa;
}

.border-fix {
  margin: 0 2%;
}

.divider {
  border-top: 5px solid rgba(20, 95, 145, .5);
}

.title {
  padding-right: 2%;
  background-color: #fafafa;
  display: inline-block;
  left: 0;
  top: -6%;
}

.title-application {
  padding-right: 2%;
  background-color: #fafafa;
  display: inline-block;
  left: 0;
  top: -3.5%;
}

.background-white {
  background-color: #fff;
}

.footer {
  padding-bottom: .1%;
  background-color: var(--color-primary);
}

.border {
  border-top: 1px solid #fff;
}

.text {
  color: #fff;
  transition: all 200ms ease;
}

.white {
  color: #fff;
}

.text:hover {
  color: var(--color-primary-light);
}

.margin-fix {
  margin: auto;
}

.footer-link .unit {
  width: 25%;
}

.hide {
  display: none;
}

@media only screen and (min-width: 25em) {

  .title-application {
    padding-right: 2%;
    background-color: #fafafa;
    display: inline-block;
    left: 0;
    top: -5%;
  }

}

@media only screen and (min-width: 38em) {

  .hide {
    display: block;
  }

  .footer-link .unit {
    width: auto;
  }

  .footer-link {
    justify-content: space-between;
  }

  .footer {
    padding-top: .5%;
  }

  .title {
    top: -10%;
    padding-left: 0;
  }

  .title-application {
    top: -6%;
    padding-left: 0;
  }

  .pad-fix {
    padding-left: 0;
    padding-right: 0;
  }

}
